:root {
  --color-bg: #69f7be;
  --color-text-main: #000000;
  --color-primary: #ffff00;
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 3rem;
  --font-family: "HK Grotesk";
  --font-family-header: "HK Grotesk";
}

/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

/* Import fonts */
@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

/* Our remix on glitch button */
.btn--remix {
  font-family: HK Grotesk;
  padding: 0.75rem 1rem;
  font-size: 1.1rem;
  line-height: 1rem;
  font-weight: 500;
  height: 2.75rem;
  align-items: center;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  text-decoration: none;
  color: #000;
  white-space: nowrap;
  margin-left: auto;
}

.divider {
  padding: 0 1rem;
}
/******************************************************************************
END Glitch hello-app default styles
******************************************************************************/

/* Page structure */
.wrapper {
  min-height: var(--wrapper-height);
  display: grid;
  place-items: center;
  margin: 0 1rem;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Very light scaling for our illustration */
.title {
  color: #2800ff;
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 105%;
  margin: 0;
}

/* Very light scaling for our illustration */
.illustration {
  max-width: 100%;
  max-height: var(--image-max-width);
  margin-top: var(--image-margin);
}

/* Instructions */
.instructions {
  margin: 1rem auto 0;
}

/* Button - Add it from the README instructions */
button,
input {
  font-family: inherit;
  font-size: 100%;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  transition: 500ms;
}

/* Subheading */
h2 {
  color: #2800ff;
}

/* Interactive image */
.illustration:active {
  transform: translateY(5px);
}

/* Button dip
- Toggling this class on and off will move it down and up again
- The button transition property above determines the speed of the translate (500ms)
*/
.dipped {
  transform: translateY(5px);
}

body {
  background-color: white;
  display: flex;
  min-height: 100vh;
  margin: 10;
  flex-direction: column;
}

body2 {
  background-color: white;
  display: flex;
  min-height: 100vh;
  margin: 10;
  flex-direction: row;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.row1 {
  flex: 2;
  justify-content: center;
  align-items: flex-end;
}

.row1 img {
  height: 80%;
  width: 80%;
}

.row2 {
  flex: 1;
  justify-content: center;
  align-items: center;
}

.row2 img {
  height: 100%;
  width: 100%;
}

.row2 button {
  width: 50%;
  height: 50%;
}

.row3 {
  flex: 1;
}

.column {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.column1 {
  flex: 1;
}

.column2 {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-end;
}

header {
  height: 10vh;

  justify-content: center;
}

header img {
  float: right;
  height: 100%;
  width: 5%;
}

footer {
  height: 10vh;
  justify-content: flex-end;
}

footer img {
  justify-content: flex-end;
  float: right;
  height: 100%;
  width: 10%;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.element {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}

.bounce:hover {
  animation-name: bounce;
  animation-timing-function: ease;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes glowing {
  0% {
    background-color: none;
    box-shadow: 0px 0px 10px lightyellow;
  }
  50% {
    background-color: none;
    box-shadow: 0px 0px 20px lightgreen;
  }
  100% {
    background-color: none;
    box-shadow: 0px 0px 10px lightyellow;
  }
}

.canvasMain {
  padding-left: 50px;
  width: 100%;
  height: 100%;
}
